.nav {
    list-style-type: none;
    display: flex;
    border: 1px solid blue;
    justify-content: space-between;
    padding: 0px;
}

div {
    display: flex;
    flex-wrap: wrap;
}

.animal {
    flex-basis: 25%;
}

img {
    width: 250px;
}