.nav {
    list-style-type: none;
    display: flex;
    border: 1px solid blue;
    justify-content: space-between;
    padding: 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.animal {
    display: flex;
    flex-basis: 25%;
    
}

img {
    width: 250px;
}

.dogpound {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.puppy {
    display: flex;
    flex-basis: 30%;
}